@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply px-[3%] md:px-[5%] lg:px-[10%] py-3 md:py-6 font-dmSans;
  }
}

@layer utilities {
  .masking-cursor {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url("./images/cursor-mask.svg");
    mask-repeat: no-repeat;
  }
}
